.signupParentDiv {
   
    width: max-content;
    padding: 20px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 28px;
background: #e0e0e0;
box-shadow:  19px 19px 37px #b1b1b1,
             -19px -19px 37px #ffffff;
  }
  
  .signupParentDiv .input {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    outline-color: transparent;
    width: 250px;
    height: 35px;
    margin: 3px 0;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  19px 19px 37px #b1b1b1,                 -19px -19px 37px #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  .logo-heading{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #2e1dbcf7;
  }
  
  .signupParentDiv button {
    width: 100%;
    height: 48px;
    /* border-color: transparent; */
   
    color: whitesmoke;
    font-weight: 900;
    background-color: #bbe34c;
    margin-bottom: 10px;
    border: none;
    border-radius: .3rem;
  }
  .signupParentDiv button:hover {
    background-color: white;
    color: #002f34;
    border: 2px solid #002f34;
  }
  
  .signupParentDiv a {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  