.viewParentDiv {
  padding-top: 4em;
  display: flex;
}
.viewParentDiv .imageShowDiv {
  padding: 16px;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.viewParentDiv .imageShowDiv img {
  width: 65vw;
  height: 85vh;
}

.viewParentDiv .rightSection {
  padding: 16px;
  margin-top: 3em;
  width: 50vw;
}

.viewParentDiv .rightSection .productDetails :first-child {
  font-weight: 700;
  margin-bottom: 8px;
  color: #002f34;
  font-size: 34px;
  line-height: 32px;
  margin-bottom: 20px;
}

.viewParentDiv .rightSection .productDetails {
  
  padding: 20px;
  
  margin-bottom: 2em;
  width: 100%;
  border-radius: 18px;
background: #e0e0e0;
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.viewParentDiv .rightSection .contactDetails {
 
  padding: 20px;
  border-radius: 18px;
background: #e0e0e0;
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.viewParentDiv .rightSection .contactDetails :first-child {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #002f34;
  font-weight: 400;
  padding: 0;
}
.call-btn{
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background: green;
}
.call-link{
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

@media(max-width: 678px){
  .viewParentDiv{
    display: grid;
    grid-template-columns: 1fr;
  }
  .viewParentDiv .rightSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 10px;
  }
  .viewParentDiv .imageShowDiv{
    width: 100%;
  }
}

@media(max-width: 496px){
  .viewParentDiv .rightSection{
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media(max-width: 364px){
  .viewParentDiv .imageShowDiv img {
    width: 65vw;
    height: 50vh;
  }
}