.moreView {
  margin: 16px 16px 24px;
  padding: 16px 16px 32px;
  background: #dde1e7;
  border-radius: 4px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.heading :first-child {
  font-size: 24px;
  color: #002f34;
}

.heading :last-child {
  font-size: 14px;
  color: #002f34;
}

.recommendations .cards {
  display: flex;
}

.moreView .cards {
  white-space: nowrap;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;
  gap: 20px;
  /* overflow-x: scroll;
  overflow-y: hidden; */
}

.card {
  margin-right: 15px;
  padding: 13px;
  width: 222px;
  height: 270px;
  display: inline-block;
  cursor: pointer;
  width: 100%;
  background: #dde1e7;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}
.card:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: 1.3s;
  -webkit-transition: 1.3s;
  -moz-transition: 1.3s;
  -ms-transition: 1.3s;
  -o-transition: 1.3s;
}

.card .favorite {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .image img {
  height: 100px;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  text-align: center;
}
.card .content .rate {
  margin-top: 10px;
  font-size: larger;
  font-weight: bold;
}
.card .content .kilometer {
  font-size: medium;
}
.card .content .name {
  font-size: small;
}
.card .date {
  display: flex;
  justify-content: flex-end;
  font-size: small;
}

.recommendations {
  margin: 16px 16px 24px;
}

.recommendations .heading span {
  font-size: 24px;
  color: #002f34;
}
