.hero{
    height: 500px;
    width: 100%;
    /* background-color: grey; */
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    
}
.left-section{
    width: 100%;
    display: grid;
    place-content: center;
}
.hero-image{
    margin-top: 10px;
    width: 500px;
    height: 380px;
}
.right-section{
    width: 100%;
    display: grid;
    place-content: center;
}
/* .upper-btn{
    background-color: red;
    display: grid;
    place-content: center;
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.lower-btn{
    background-color: white;
    border: 5px solid gray;
    height: 50px;
    width: 200px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    display: grid;
    place-content: center;
 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

} */
/* Define the button styles */
.neomorph-button1 {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: rgb(179, 16, 16);
    /* Add the neomorphism effect */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3),
                inset 2px 2px 10px rgba(255, 255, 255, 0.3);
    transform: rotate(2deg);
  }
  
  /* Add hover effect */
  .neomorph-button1:hover {
    transform: rotate(4deg);
  }
  /* Define the button styles */
.neomorph-button2 {
    width: 200px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: rgb(5, 21, 128);
    /* Add the neomorphism effect */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3),
                inset 2px 2px 10px rgba(255, 255, 255, 0.3);
    transform: rotate(2deg);
  }
  
  /* Add hover effect */
  .neomorph-button2:hover {
    transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
}
  
  