.headerParentDiv {
  padding: 10px 20px;
  background-color: white;
  position: fixed;
  width: 100vw;
  z-index: 999;
}

.headerChildDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brandName{
  color: #2e1dbcf7;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 3px #7c98d4;
}

.placeSearch {
  width: 13em;
  height: 40px;
  display: flex;
  align-items: center;
 
  border: none;
  border-radius: 8px;
 
  box-shadow:  19px 19px 37px #c1c1c1,             -19px -19px 37px #ffffff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.placeSearch ::selection {
  border-color: #23e5db;
  outline-color: #23e5db;
}

.placeSearch input {
  border-color: transparent;
  outline-color: transparent;
}

.productSearch {
  width: 25em;
  height: 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  /*background-color: white;
  */
 
  justify-content: space-between;
  background: #e0e0e0;
  box-shadow:  19px 19px 37px #cacaca,             -19px -19px 37px #ffffff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.productSearch .input {
  width: 100%;
  height: 100%;
  display: flex;
}

.productSearch .input input {
  border-color: transparent;
  outline-color: transparent;
  width: 100%;
  align-items: center;
}

.productSearch .searchAction {
  min-width: 48px;
  height: 48px;
  position: relative;
  display: flex;
  cursor: pointer;
  background-color: grey;
  border-radius: 0 8px 8px 0;
  -webkit-border-radius: 0 8px 8px 0;
  -moz-border-radius: 0 8px 8px 0;
  -ms-border-radius: 0 8px 8px 0;
  -o-border-radius: 0 8px 8px 0;
}

.productSearch .searchAction svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: white;
}

.language {
  height: 48px;
  display: flex;
  align-items: center;
}

.language span {
  /* justify-content: space-between;
  align-items: center; */
  font-size: 15px;
  white-space: normal;
  text-overflow: ellipsis;
  font-weight: bolder;
  margin-right: 5px;
}

.language svg {
}

.span {
  text-decoration: none;
  font-size: 16px;
  white-space: normal;
  text-overflow: ellipsis;
  font-weight: bolder;
  margin-right: 5px;
}

.loginPage hr {
  margin: 0;
  background-color: black;
  height: 2px;
}

.loginPage a{
  text-decoration: none;
}

.sellMenu {
  position: relative;
  cursor: pointer;
}

.sellMenu .all {
  fill: white;
}

.sellMenu .top {
  fill: #23e5db;
}

.sellMenu .left {
  fill: #ffce32;
}

.sellMenu .right {
  fill: #3a77ff;
}
.sellMenu .sellMenuContent {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #002f34;
}

/* .sellMenu .sellMenuContent svg {
  align-items: center;
} */
.sellMenu .sellMenuContent span {
  margin-left: 5px;
}

@media only screen and (max-width: 700px) {
  .placeSearch,
  .productSearch,
  .sellMenu {
    display: none;
  }
}