.loginParentDiv {
   
    width: max-content;
    padding: 20px 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    border-radius: 28px;
background: #e4e4e4;
box-shadow:  19px 19px 37px #b1b1b1,
             -19px -19px 37px #ffffff;
  }
  
  .loginParentDiv .input {
    /*border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    outline-color: transparent;
    */width: 250px;
    height: 40px;
    margin: 10px 0;
    border: none;
    padding: 0 10px;
    border-radius: 10px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  19px 19px 37px #b1b1b1,                 -19px -19px 37px #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  .logo-heading{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #2e1dbcf7;
  }
  
  .loginParentDiv button {
    width: 100%;
    height: 48px;
    /* border-color: transparent; */
   
    color: whitesmoke;
    font-weight: 900;
    background-color: #2deb15;
    margin-bottom: 10px;
    border: none;
    border-radius: .3rem;
  }
  .loginParentDiv button:hover {
    background-color: white;
    color: #002f34;
    border: 2px solid #002f34;
  }
  
  .loginParentDiv a {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  